.header-page{
    background:#00569e;
}
#menu {
    padding: 10px;
    margin: 0;
    border: 10px;
    display: flex;
}
 
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
 
#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}
 
#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}
 
#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default; 
}
 
#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%; 
}
 
#menu ul ul li {
    float: none; 
}
 
#menu ul li:hover > ul {
    visibility: visible; 
}
 
#menu ul ul {
    top: 0;
    left: 100%; 
}
 
#menu ul li {
    float: none; 
}
 
#menu {
    width: 300px; 
}
 
#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none; 
}
 
#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}
 
#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: #00569e;
}
#menu li:hover {
   
    color:#000000;
}
#menu a {
    color: #e2e2e2;
   
    line-height: 160%;
    padding: 11px 28px 11px 28px;
   
}
#menu ul ul li {
    background: #1071d3; 
}
#menu  ul li:hover {
    background: #c2c2c2; 
    color:rgb(241, 8, 8);
}
#menu ul ul li:hover a {
    color: #000000; 
    background-color: rgb(255, 254, 254);
}
#menu ul ul li ul li {
    background: #881e1e; 
}
#menu ul ul li ul li:hover {
    background: #c00909; 
}
#menu .has-sub {
    position: relative; 
}
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: 5px;
}
 
#menu .fa-angle-right {
    float: right;
}